*{
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

body {
    display: block;
    margin: 0px;
    background-color:#E8F1F3;
}

a{
    text-decoration: none;
    color: black;
}

.toolbar{
    width: 100%;
    height: 117px;
    background-color: #B5CCD2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.toolbar a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.toolbar a h1{
    margin: 3px;
    color: #11344A;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    padding: 6px;
}

.toolbar-img{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.nav-buttons-container{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.nav-button{
    border-color:transparent;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    margin: 6px;
}
.nav-button:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.highlighted{
    color: white;
    background-color: #11344A;
}
.footer{
    background-color: #B5CCD2;
    padding: 12px;
}
