
.search-bar{
    height: fit-content;
    width: fit-content;
    min-width: 70vw;
    padding: 10px 15px ;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px auto;
    background-color: white;
    -moz-border-radius: 16px;
    -webkit-border-radius:16px;
    border-radius: 8px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
}

.search-bar h3{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.search-bar-input{
    background-color:white ;
    width: -webkit-fill-available;;
    padding: 10px;
    border-radius: 8px;
}
.search-bar-button{ 
    background-color: #11344A;
    margin-left: 5px;
    color: #DBDBDB;
    width: 85px;
    padding: 10px;
    border-radius: 8px;

}
.search-bar-content{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.post-card{
    background-color: white;
    height: fit-content;
    width: 287px;
    -moz-border-radius: 16px;
    -webkit-border-radius:16px;
    border-radius: 16px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
    margin  : 25px;  
}
.post-card-title{
    font-size: 18px;
}
.post-card-body{
    padding:15px;
}
.post-card-img{
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius:16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    width: 287px;     
    height: 230px;
}
.post-card-header-and-price{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
}
.post-card-price{
    margin-left: 40px;
}
.post-card-h3{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.post-card-personas{
    margin-left: 80px;
}
.post-card{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}
.bold{
    font-weight: bolder;
}

.price {
    font-size: 24px;
    color: #333;
}

.rating {
    color: #ffd700;
}