*{
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

body {
    display: block;
    margin: 0px;
    background-color:#E8F1F3;
}

a{
    text-decoration: none;
    color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.toolbar{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.toolbar a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.toolbar a h1{
    margin: 3px;
    color: #11344A;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    padding: 6px;
}

.toolbar-img{
    width: auto;
    height: 60px;
    margin: 10px;
}

.nav-buttons-container{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.nav-button{
    border-color:transparent;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    margin: 6px;
}
.nav-button:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.highlighted{
    color: white;
    background-color: #11344A;
}
.footer{
    background-color: white;
    padding: 12px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.post-card-personas{
    margin-left: 80px;
}
.post-card {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.post-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.post-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-card-body {
    padding: 16px;
}

.post-card-header-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-card-title {
    font-size: 1.2em;
    margin: 0;
}

.post-card-price {
    font-size: 1.2em;
    color: #0a9215;
    font-weight: 600;
}

.post-card-h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.logo{
    display: flex;
}

.text-center{
    text-align: center;
}